* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e9ebee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  
  
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 70%;
  border-radius: 0 10px 10px 0;
  padding-top: 70px;
}

.login h1 {
  margin-bottom: 40px;
  font-size: 2.5em;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius:10px;
  background-color: #eeeeef;
}

input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.login span {
  float: left;
  padding-bottom: 100px;
}

.login a {
  float: right;
  margin-left: 5px;
  text-decoration: none;
  color: #000;
  transition: 0.3s all ease-in-out;
}

.login a:hover {
  color: #0198a3;
  font-weight: bold;
}

.login button {
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: none;
  background-color: #0198a3;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.login button:hover {
  transform: scale(1.1);
}

.login hr {
  width: 30%;
  display: inline-block;
}

.login p {
  display: inline-block;
  margin: 0px 10px 30px;
}

.login ul {
  list-style: none;
  margin-bottom: 40px;
}

.login ul li {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}

.login ul li:hover {
  opacity: 0.6;
}

.login ul li:last-child {
  margin-right: 0;
}

.login .copyright {
  display: inline-block;
  float: none;
}

/* Register Styles */
.register {
  
  background-image: linear-gradient(135deg, #23212f 5%, #9526a9 95%);
  height: 100%;
  color: #fff;
  border-radius: 10px 0 0 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 100px 0;
}

.password-container {
  position: relative;
}

.password-container input[type="password"] {
  padding-right: 30px; 
}

.password-container i {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px; 
  color: #777;
}

.password-container i:hover {
  color: #9526a9; 
}

.register h2 {
  margin: 30px 0;
  font-size: 50px;
  letter-spacing: 3px;
}

.register p {
  font-size: 18px;
  margin-bottom: 30px;
}

.register button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}

.register button:hover {
  color: #9526a9;
  background-color: #fff;
  cursor: pointer;
}

/* CSS untuk pesan kesalahan */
.error-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error-list li {
  color: red;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
  }

  .container {
    width: 90%;
  }

  .login, .register {
    border-radius: 10px;
  }

  .login {
    height: auto;
    padding-top: 20px;
  }

  .login h1 {
    font-size: 2em;
  }

  .login button {
    margin: 20px 0;
  }

  .login hr {
    width: 20%;
  }

  .register h2 {
    font-size: 36px;
  }

  .register p {
    font-size: 16px;
  }
}